# Exercises

These exercises are designed to give you practice in using Pandas. The dataframe is intentionally simple to allow you to visualise what is going on - please also experiment - try out different variants of code and see what happens. Experimentation is a really good way to learn to code!

You shoudl use the 

Working with the dataframe defined in the cell below, answer the questions set below:

In [4]:
import pandas as pd

# Define DataFrame for all exercises
data = {'A': [1, 5, 9], 'B': [2, 6, 10], 'C': [3, 7, 11], 'D': [4, 8, 12]}
df = pd.DataFrame(data)
df

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

# Exercise 1:
Select the second column (i.e. column B) using both the bracket notation and the dot notation, printing the contents out. You may need to Google this since we have only used the bracket notation in class.

# Exercise 2:
Select the first and third columns (i.e. columns A and C) using the bracket notation, and print the contents to screen. Try using both the print() and display() functions.

# Exercise 3:
Create a new DataFrame named `df2` that contains only the second and fourth columns (i.e. columns B and D).

# Exercise 4:
Apply the function 'square' to the values in column 'A' and place the results in a new column 'E'.

In [ ]:
def square(x):
    return x**2

# Exercise 5:

Return the maximum value in column 'B'. What is the corresponding value in that row in column 'A'?

*Hint: This is best calculated in stages. One way to do this is to calculate the maximum value in column B, then use .query() to return rows that have that value in column B. Finally, you can extract the value in column A from that row.*

# Solutions

In [ ]:

# Exercise 1:
# Select the second column (i.e. column B) using both the bracket notation and the dot notation.
col_B = df['B']
col_B_dot = df.B
print(col_B)
print(col_B_dot)

# Exercise 2:
# Select the first and third columns (i.e. columns A and C) using the bracket notation.
col_A_C = df[['A', 'C']]
display(col_A_C)

# Exercise 3:
# Create a new DataFrame named `df2` that contains only the second and fourth columns (i.e. columns B and D).
df2 = df[['B', 'D']]
display(df2)

# Exercise 4:
# Apply a function that returns the square of each element in the DataFrame.
def square(x):
    return x**2
df['E'] = df['A'].apply(square)
display(df)

# Exercise 5:
# Return the maximum value in column 'B'. What is the corresponding value in that row in column 'A'?
max_B = df['B'].max()
max_A = df.query('B == @max_B')['A'].iloc[0]
print('Maximum value in column B:', max_B)
print('Corresponding value in column A:', max_A)

#Alternative solution using .loc
max_B = df['B'].max()
max_A = df.loc[df['B'] == max_B, 'A'].iloc[0]
print('Maximum value in column B:', max_B)
print('Corresponding value in column A:', max_A)

#This code uses the max method to find the maximum value in column 'B', and then uses the loc method to find the corresponding value in column 'A'. The loc method filters the DataFrame to include only the rows where the value in column 'B' is equal to the maximum value, and then selects the first value in column 'A' from that filtered DataFrame using the iloc method.